<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="finishbig.test.org"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="10" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:icon="@drawable/logo"
        android:label="@string/app_name" >
        <activity
            android:name=".SplashScreen"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".FinishBig"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.ADD" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Add"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.ADD" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LView"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.ADD" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Login"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.ADD" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Account"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.ADD" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CompareList"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.ADD" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
                <activity
            android:name=".RaceDetail"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.ADD" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
                <activity
            android:name=".CompareView"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.ADD" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
                <activity
            android:name=".MoreScreen"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.ADD" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>